## Lists

   - Lists are ordered sequence of mixed data types
   - Lists are written in comma separated elements within square brackets

In [2]:
list1 = ["Bangladesh", 5, "Dhaka"]
list1

['Bangladesh', 5, 'Dhaka']

In [3]:
print(len(list1))
print(type(list1))

3
<class 'list'>

In [27]:
#Nested list - List within a List

list2 = ["Bangladesh", 5, "Dhaka", ["tanvir", "UIU", "Faridpur"]]
print(len(list2))
print(len(list2[3]))

4
3

In [8]:
list2

['Bangladesh', 5, 'Dhaka', ['tanvir', 'UIU', 'Faridpur']]

In [10]:
list2[-1][1]

'UIU'

In [34]:
print(list2)
print(len(list2))
list2[4][1]

['Bangladesh', 5]
2

IndexError: list index out of range

In [12]:
#Indexing

list2[0]

'Bangladesh'

In [19]:
#Slicing

list2[-2]

'0112230191'

In [16]:
list2.append("0112230191")
list2

['Bangladesh',
 5,
 'Dhaka',
 ['tanvir', 'UIU', 'Faridpur'],
 '0112230191',
 '0112230191']

In [29]:
list2.pop(-1)
list2

['Bangladesh', 5]

In [30]:
list2

['Bangladesh', 5]

In [17]:
list2[4][0]

'0'

In [22]:
#List Concat
list1 = [1,2,3,4]
list2 = [5,6,7,8]

new_list = list1 + list2
new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
len(new_list)

8

In [25]:
#Add two elements to an existing list
list3 = [1,2,3,4, ["tanvir", "ahmed"]]
#list4 = [5,6]
new_list = list3 +  [5,6]
new_list

[1, 2, 3, 4, ['tanvir', 'ahmed'], 5, 6]

In [36]:
#Membership in lists & tuples

list = [1, 2, 3, 4]
print(1 in list)
print(5 in list)

True
False

In [22]:
list3 = [1,2,3,4]
print(1 in list3)
print(5 in list3)

True
False

#### Mutability

In [25]:
list1 = ["Maths", "Physics", "Chemistry", "Biology"]

In [26]:
list1[3] = 'Computer Science'

In [27]:
list1

['Maths', 'Physics', 'Chemistry', 'Computer Science']

In [37]:
#extend() function --> It extends the list

list1 = [1,2,3,4]
list1.extend([5,6])
len(list1)

6

In [38]:
list1 = [1,2,3,4]
list1.append([5,6])
len(list1)

5

In [ ]:
#append() function

list1 = [1,2,3,4]
list1.append([5,6])

In [30]:
#del command

list1 = [1,2,3,4]

del list1[2]
list1

[1, 2, 4]

In [36]:
#pop() - Deletes the object based on the index value
# Default --> Removes the last element

list1 = [11,22,33,44]

list1.pop(2)
list1

[11, 22, 44]

In [34]:
list1 = [11,22,33,44]

list1.remove(22)
list1

[11, 33, 44]

In [ ]:
#pop() - By default, it deletes the last object from the list
#pop takes index as an input

list1 = [1,2,3,4]

list1.pop(2)
list1

In [ ]:
#remove() - takes value as an input

list1 = [1,2,3,4]

list1.remove(3)

In [40]:
#Sorting 
A = [9,5,2]
A.sort()
A

[2, 5, 9]

In [43]:
A.sort(reverse=True)
A

[9, 5, 2]

#### Difference between sort & sorted

In [47]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Oranges', 'Strawberry']
None

In [49]:
A = ["Oranges", "Strawberry", "Mango"]
A.sort()

In [50]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted(A)
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']

#### shallow copy

In [53]:
A = ["Oranges", "Strawberry", "Mango"]
B = A
print(B)
print(A)

['Oranges', 'Strawberry', 'Mango']
['Oranges', 'Strawberry', 'Mango']

In [54]:
A.pop()

'Mango'

In [55]:
A

['Oranges', 'Strawberry']

In [56]:
B

['Oranges', 'Strawberry']

In [61]:
A = ["Oranges", "Strawberry", "Mango"]
B = A[0:3]
print(B)

['Oranges', 'Strawberry', 'Mango']

In [58]:
A.pop()

'Mango'

In [59]:
A

['Oranges', 'Strawberry']

In [60]:
B

['Oranges', 'Strawberry', 'Mango']

## Questions

#### Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

In [39]:
input_str = 'Tanvir_Ahmed_009'

print(input_str[7:13])
print(input_str[0:6])
print(input_str[-3:])

Ahmed_
Tanvir
009

In [40]:
input_str = 'Tanvir_Ahmed_090'
list1 = input_str.split('_')

In [41]:
list1

['Tanvir', 'Ahmed', '090']

In [42]:
print(list1[1])
print(list1[0])
print(list1[2])

Ahmed
Tanvir
090

#### Question

#### Description
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [74]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = 'SPARK'
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

#### Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [ ]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

#### How will I extract Python from the nested list
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]